{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
      <dt>Title:
      <dd><input type=text size=20 name=title required></dd>
      <dt>Username:
      <dd><input type=text size=20 name=username required></dd>
      <dt>Password:
      <dd><input type=password size=20 name=password required></dd>
      <dt>Server:
      <dd><input type=text size=20 name=server required ></dd>
      <dt>Autoanswer time:
      <dd><input type=number size=3 name=waittime min="0" value="0"></dd>
      <dd><input type=submit value=Insert></dd>	
      </dl>
    </form>
  {% endif %}
{% if entries %}
<table id="entries_table">
  <thead>
    <td>Title</td><td>Username</td><td>Server</td><td></td>
  </thead>
  <tbody>
  {% for entry in entries %}
  <tr>
    <td> {{entry[1]}} </td>
    <td> {{entry[2]}} </td>
    <td> {{entry[3]}} </td>
    {% if session.logged_in %}
    <td> <a class = "edit" href = "/edit/{{ entry[0] }}">Edit</a> </td> 
    <td> <a class = "delete" href = "/delete/{{ entry[0] }}" 
      onclick="return(window.confirm('Do You wanted to Delete {{ entry[1] }}'));">Delete</a> </td>
    {% endif %}
 </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
   <ul class="entries">
    <li><em> No entries!!</em>
  </ul>
{% endif %}

{% endblock %}
