{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
      <dt>Title:
      <input type=text size=20 name=title>
      <dt>Username:
      <input type=text size=20 name=username>
      <dt>Password:
      <input type=password size=20 name=password>
      <dt>Server:
      <input type=text size=20 name=server>
      <dt>Autoanswer time:
      <input type=number size=3 name=waittime>
      <dd><input type=submit value=Insert>	
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry[0] }}</h2>
	<br>{{ entry[1] }}</br>
  {% else %}
    <li><em> No entries!!</em>
  {% endfor %}
  </ul>
{% endblock %}    
